@import "../../utils/colors.less";
@import "../../utils/util.less";

.bg {
  .ani-show-bottom();
  .flex-center-column();

  flex: 1;
  position: relative;

  .back-btn {
    left: 20px;
    position: absolute;
    top: 20px;
  }

  .title {
    border-bottom: 1px solid @color-primary;
    font-size: 32px;
    margin-bottom: 40px;
    padding-bottom: 16px;
    text-align: center;
    width: 50%;
  }

  .desc {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .step {
    margin-bottom: 6px;
  }

  .btns {
    .flex-center-y();

    justify-content: space-evenly;
    margin: 40px 0;
    width: 50%;
  }
}
