@import "../../utils/colors.less";
@import "../../utils/utils.less";

@input-bg-color          : @color-white;
@input-border-color      : #d6d6d6;
@input-border-hover-color: @color-second;
@input-text-color        : @color-primary;

.container {
  .ani-show-right();
  .flex-center-x-column();

  flex    : 1;
  position: relative;
  height  : 100%;


  .sub-title {
    font-size: 20px;
  }

  .top-zone {
    .flex-center-y();

    height         : 82px;
    justify-content: flex-start;
    padding-left   : 48px;
    width          : calc(100vw - 40px - 80px);

    input {
      background-color: @input-bg-color;
      border          : 2px solid @input-border-color;
      border-radius   : 16px;
      color           : @color-second;
      font-size       : 18px;
      font-weight     : bold;
      height          : 26px;
      margin-right    : 12px;
      outline         : none;
      padding         : 2px 12px;
      text-overflow   : ellipsis;
      transition      : all 0.6s cubic-bezier(0.36, 0.79, 0.68, 0.99);
      width           : 160px;
      will-change     : "contents";
      z-index         : 1;

      &:focus {
        flex: 1;

        // 通用兄弟选择器：同一层级后面所有含有 .title 类的元素都会被选中
        &~.right-zone {
          opacity: 0;
        }
      }


      &::placeholder {
        color     : @input-border-color;
        transition: all 0.6s cubic-bezier(0.36, 0.79, 0.68, 0.99);
      }

      &:hover {
        border-color: @input-border-hover-color;
        color       : @color-primary;

        &::placeholder {
          color: @input-border-hover-color;
        }
      }
    }

    .right-zone {
      .flex-center-y();
      .transition-slow();

      // width          : 420px;
      flex           : 1;
      justify-content: flex-end;
      position       : absolute;
      right          : 40px;
      top            : 24px;

      .select-btn {
        margin-right: 20px;
      }

      .select-zone {
        .flex-center-y();

        margin-left: 12px;

        &:hover {

          select {
            border: 2px solid @color-second;
          }

          label,
          select {
            color: @color-primary;
          }
        }

        label {
          .transition-slow();

          color       : @color-second;
          margin-right: 6px;
        }

        select {
          .transition-slow();

          color           : @color-second;
          background-color: transparent;
          border          : 2px solid transparent;
          border-radius   : 6px;
          font-size       : 18px;
          font-weight     : bold;
          height          : 32px;
          line-height     : 32px;
          outline         : none;
          padding         : 3px;
          width           : 124px;

          option {
            font-weight: bold;
          }
        }
      }

      .icon {
        .transition();
        .flex-center();

        border-radius: 6px;
        height       : 32px;
        margin-right : 12px;
        padding      : 2px;
        position     : relative;
        width        : 32px;

        &::before {
          border-radius: 6px;
          content      : " ";
          height       : 32px;
          left         : 1px;
          margin       : 1px;
          position     : absolute;
          top          : 1px;
          width        : 32px;
        }

        &:hover {
          background-color: @color-accent;
          color           : @color-white;

          svg {
            transform: scale(1.1);
          }

          // &::before {
          // border-color: @color-white;
          // }
        }
      }
    }
  }

  .content {
    .ani-show-right();

    display        : flex;
    flex           : 1;
    justify-content: space-between;
    width          : calc(100vw - 40px * 2);

    .time-range-container {
      display        : flex;
      max-width      : 520px;
      justify-content: flex-end;
      transform      : translateX(-20px);
    }

    .detail-data {
      .flex-center-y-column();

      .detail-title {
        height     : 26px;
        line-height: 26px;
      }
    }

    .detail-table {
      .flex-center-y-column();


      &>div {
        display: flex;

        div {
          border     : 1px solid @color-second;
          height     : 24px;
          line-height: $height;
          margin     : 1px;
          text-align : center;
          width      : 100px;
        }
      }
    }

    .table-name {
      font-size : 18px;
      text-align: center;
      margin    : 16px 0 4px 0;
    }

  }

  .star {
    font-size: 14px;
  }

  .star-5 {
    color: @color-star-5
  }

  .star-4 {
    color: @color-star-4
  }

  .star-3 {
    color: @color-star-3
  }

  .date-tip {
    bottom      : 16px;
    color       : @color-second;
    // font-size: 12px;
    left        : 40px;
    position    : absolute;
  }

  .back-btn {
    left    : 20px;
    position: absolute;
    top     : 20px;
  }
}

.pie-chart {
  .flex-column();

  // padding-right: 90px;
  // border-right: 2px dashed @color-second;
  z-index: 10;

  .pie-name {
    font-size : 18px;
    margin    : 12px 0;
    text-align: center;
  }

  .filter-title {
    font-size    : 18px;
    margin-bottom: 4px;
  }

  .filter-zone {
    .flex-column();

    .filter-btns {
      display: flex;

      .btn {
        .transition();

        background-color: @color-bg;
        border          : 1px solid @color-second;
        border-radius   : 4px;
        color           : @color-second;
        cursor          : pointer;
        font-size       : 14px;
        height          : 18px;
        margin          : 2px;
        padding         : 1px 6px;
        text-align      : center;
      }

      .active {
        color: @color-white;
      }

      .btn-active {
        .active();

        background-color: @color-star-5;
        border-color    : @color-star-5;
      }

      .select {
        .btn();

        margin-right: 14px;
        position    : relative;

        &::before {
          color   : @color-second;
          content : "|";
          left    : 46px;
          position: absolute;
        }
      }

      .select-all {
        .active();

        background-color: @color-primary;
        border-color    : @color-primary;
      }

      .btn-5 {
        .active();

        border-color    : @color-star-5;
        background-color: @color-star-5;
      }

      .btn-4 {
        .active();

        border-color    : @color-star-4;
        background-color: @color-star-4;
      }

      .btn-3 {
        .active();

        border-color    : @color-star-3;
        background-color: @color-star-3;
      }
    }
  }
}