@import "../../utils/colors.less";
@import "../../utils/util.less";

.desc {
  .flex-center-column();
  .ani-show-bottom();

  flex: 1;
  position: relative;

  .back-btn {
    position: absolute;
    left: 20px;
    top: 20px;
  }
}
