@import "../../utils/colors.less";
@import "../../utils/utils.less";

.bg-ani {
  .opacity-show();
}

.detail-mode {
  .transition();

  color: @color-white;
}


.pyro {
  .detail-mode();

  background-image: radial-gradient(circle, @color-pyro, @color-pyro-deep);
}

.hydro {
  .detail-mode();

  background-image: radial-gradient(circle, @color-hydro, @color-hydro-deep);
}

.anemo {
  .detail-mode();

  background-image: radial-gradient(circle, @color-anemo, @color-anemo-deep);
}

.electro {
  .detail-mode();

  background-image: radial-gradient(circle, @color-electro, @color-electro-deep);
}

.geo {
  .detail-mode();

  background-image: radial-gradient(circle, @color-geo, @color-geo-deep);
}

.cryo {
  .detail-mode();

  background-image: radial-gradient(circle, @color-cryo, @color-cryo-deep);
}

.dendro {
  .detail-mode();

  background-image: radial-gradient(circle, @color-dendro, @color-dendro-deep);
}

.ani {
  .opacity-show();
}

.container {
  .flex-column();
  .transition();

  flex          : 1;
  max-width     : 100vw;
  overflow      : hidden;
  padding-bottom: 20px;
  position      : relative;
  width         : 100vw;

  .top-zone {
    .ani-show-top();
    .transition();

    align-items    : flex-end;
    display        : flex;
    height         : 60px;
    justify-content: center;
    padding        : 0 20px 4px 20px;
    position       : relative;
    width          : calc(100vw - 2 * 20px);

    .title {
      font-size: 28px;
    }

    &>div {
      position: absolute;
      right   : 20px;
      bottom  : 4px;
    }
  }

  .star-4 {
    .bg-image-cover-no-repeat();

    background-image: url("../../../assets/item-bg-4.png");
  }

  .star-5 {
    .bg-image-cover-no-repeat();

    background-image: url("../../../assets/item-bg-5.png");
  }

  .star-6 {
    .bg-image-cover-no-repeat();

    background-image: url("../../../assets/item-bg-6.png");
  }

  .role-table {
    .ani-show-right();
    .flex-center-y();

    flex     : 1;
    flex-wrap: wrap;
    height   : calc(100vh - 100px);
    overflow : auto;
    padding  : 4px 12px;
    width    : 100vw;

    .role-item {
      .flex-center-column();
      .transition();

      color : #564c4a;
      margin: 4px;
      width : calc((100vw - 24px - 8 * 2 * $margin) / 8);

      &:hover {
        transform: scale(1.05);
      }

      &>div {
        .flex-center-column();
        .shadow();

        border       : 1px solid #d6d6d6;
        border-radius: 6px;
        height       : 121px;
        margin-bottom: 3px;
        position     : relative;
        width        : 100px;

        // 角色头图
        img:nth-child(1) {
          width : 100px;
          height: 100px;
        }

        // 星级 icon
        img:nth-child(2) {
          bottom  : 16px;
          position: absolute;
          height  : 24px;
        }

        // 元素 icon
        img:nth-child(3) {
          left    : 2px;
          position: absolute;
          top     : 2px;
          width   : 20px;
        }

        // 命座数
        &>div {
          .flex-center();

          background-color         : rgba(64, 64, 64, 0.6);
          border-bottom-left-radius: 6px;
          border-top-right-radius  : 6px;
          color                    : @color-white;
          font-size                : 12px;
          height                   : 22px;
          position                 : absolute;
          right                    : 0px;
          top                      : 0px;
          width                    : 22px;
        }

        span {
          font-size  : 14px;
          line-height: 22px;
        }
      }

      &>span {
        font-size    : 16px;
        margin-bottom: 2px;
      }
    }
  }

  .role-detail {
    display : flex;
    flex    : 1;
    margin  : 20px 80px 0 60px;
    overflow: hidden;

    .detail-content {
      color          : @color-white;
      display        : flex;
      justify-content: space-between;
      width          : 100%;

      .role-info {
        .name {
          font-size: 32px;
        }
      }
    }

    .content-ani {
      .ani-show-bottom();
    }

    .img {
      .transition();

      height  : 555px;
      position: absolute;
      right   : 20px;
      top     : 0;
    }

    .img-ani {
      .ani-show-right-far();
    }

    .constellation-container {
      .flex-center-y-column();

      // height         : 360px;
      justify-content: space-evenly;
      width          : 40px;

      .constellation {
        border-radius   : (($width + 4px) / 2);
        border          : 2px solid rgba(160, 160, 160);
        height          : 36px;
        width           : 36px;
        overflow        : hidden;
        background-color: rgba(100, 100, 100, 0.8);
        z-index         : 1;

        img {
          height: 36px;
          width : 36px;
        }
      }
    }
  }

  .bg-element {
    height  : 160px;
    left    : calc(50vw - 80px);
    opacity : 0.4;
    position: absolute;
    top     : calc(45vh - 80px);
    width   : $height;
  }

  .arrow {
    .transition();

    opacity : 0.7;
    position: absolute;
    height  : 28px;
    width   : $height;
    top     : calc(45vh - ($height) / 2);
  }

  .arrow-left {
    .arrow();
    .bg-image-cover-no-repeat();

    left            : 18px;
    background-image: url("../../../assets/arrow-left.png");

    &:hover {
      .ani-slide-right();
    }
  }

  .arrow-right {
    .arrow();
    .bg-image-cover-no-repeat();

    right           : 18px;
    background-image: url("../../../assets/arrow-right.png");

    &:hover {
      .ani-slide-left();
    }
  }

  .back-btn {
    .ani-show-right();

    left    : 20px;
    position: absolute;
    top     : 20px;
  }
}