@import "../../utils/colors.less";
@import "../../utils/util.less";

.container {
  .ani-show-left();
  .flex-column();

  flex     : 1;
  width    : 100vw;
  max-width: 100vw;
  overflow : hidden;
  position : relative;

  .top-zone {
    .flex-center();

    border-bottom: 1px solid @input-border-color;
    height       : 82px;
    min-height   : 82px;
    max-height   : 82px;
    width        : 100vw;
  }

  .role-list-container {
    .ani-show-right();

    display        : flex;
    flex           : 1;
    margin         : 20px;
    overflow       : auto;
    position       : relative;
    scroll-behavior: smooth;

    .left {
      .swiper {
        width: 80px;

        .star4 {
          background-color: @color-star-4;
        }

        .star5 {
          background-color: @color-star-5;
        }

        .role-btn {
          width        : 64px;
          height       : 64px;
          padding      : 4px 2px;
          border       : 1px solid @text-color-second;
          border-radius: 6px;

          img {
            height: 64px;
            width : $height;
          }
        }
      }
    }

    .right {
      display        : flex;
      flex           : 1;
      justify-content: space-between;
      padding-left   : 20px;

      .role-info {

        .name {
          font-size: 32px
        }
      }
    }

    .constellation-container {
      .flex-center-y-column();

      // height         : 360px;
      justify-content: space-evenly;
      width          : 40px;

      .constellation {
        border-radius   : (($width + 4px) / 2);
        border          : 2px solid rgba(160, 160, 160);
        height          : 36px;
        width           : 36px;
        overflow        : hidden;
        background-color: rgba(100, 100, 100, 0.8);
        z-index         : 1;

        img {
          height: 36px;
          width : 36px;
        }
      }
    }
  }


  .back-btn {
    .ani-show-right();

    left    : 20px;
    position: absolute;
    top     : 20px;
  }
}