@import '@/utils/colors.less';
@import '@/utils/utils.less';

.wrapper {
  .flex-center-y();

  &:hover {
    select {
      border: 2px solid @color-second;
    }

    label,
    select {
      color: @color-primary;
    }
  }

  label {
    .transition-slow();

    color: @color-primary;
    margin-right: 6px;
  }

  select {
    .transition-slow();

    color: @color-primary;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    outline: none;
    padding: 3px;
    width: 124px;

    option {
      font-weight: bold;
    }
  }
}
