@color-primary: #333;
@color-accent: #ffa564;
@color-bg: #ebe7df;

@win-bar-text-focus-color: #ece5d8;
@win-bar-text-blur-color: #a9a7a6;
@win-bar-slide-line-color: #dd7860;
@win-bar-bg-color: #454d5c;
@win-bar-bg-line-color: #515a6a;

@btn-round-line: #878d8d;
@btn-actiove-bg: #9b947f;
