@import "../../utils/colors.less";
@import "../../utils/util.less";

.container {
  .flex-center-x-column();

  flex: 1;
  color: @win-bar-bg-color;

  .user {
    .flex-center-y();

    height: 120px;
    width: calc(100vw - 40px);
    padding: 12px 20px 0 20px;
    background-color: @color-bg-deep;

    .avatar {
      // .shadow();

      width: 80px;
      height: $width;
      border-radius: 40px;
    }

    .user-info {
      .flex-center-y-column();

      flex: 1;
      margin-left: 20px;

      .nickname {
        padding: 2px 10px;
        display: inline-block;
        color: @color-white;
        width: 148px;
        border-radius: 16px;
        background-color: @text-color-orange;
        background: linear-gradient(to right, @text-color-orange, transparent);
      }

      .sign {
        display: inline-block;
        width: 148px;
        color: @text-color;
        padding: 2px 10px;
      }

      .buid {
        display: inline-block;
        width: 148px;
        color: @text-color-second;
        padding: 2px 10px;
      }
    }

    .noLoginContainer {
      .flex-center-y();
      height: 120px;
      width: calc(100vw - 40px);
      justify-content: space-between;
      padding-right: 60px;

      .no-login-text {
        font-size: 28px;
        padding-left: 32px;
        line-height: 36px;
      }
    }
  }

  .content {
    .flex-center-column();

    flex: 1;

    .title {
      width: calc(100vw - 40px);
      font-size: 32px;
      padding: 20px 20px 4px 20px;
    }

    .ps {
      color: @text-color-second;
      width: calc(100vw - 40px);
      padding-bottom: 16px;
    }

    .btn-list {
      .flex-wrap();
      align-content: flex-start;

      flex: 1;
      width: calc(100vw - 20px);

      .btn {
        .flex-center-column();

        width: 196px;
        height: 100px;
        padding: 10px;
        margin: 8px;
        color: @home-btn-color;
        cursor: pointer;
        border-radius: 1px;
        background-color: @btn-bg-color;
        border: 2px solid @home-block-border-color;
        transition: all 0.2s ease-in-out;

        .btn-text {
          margin-top: 12px;
          font-size: 20px;
        }

        &:hover {
          color: @home-btn-hover-color;
          transform: scale(1.1);
          border: 2px solid @home-block-hover-border-color;
        }

        &:active {
          color: @btn-bg-color;
          transform: scale(1);
          background-color: @home-btn-hover-color;
          border: 2px solid @home-block-active-border-color;
        }
      }
    }

    .footer {
      color: @text-color-second;
      margin-bottom: 12px;
    }

    .btns {
      .flex-center();

      margin: 12px 0;
    }
  }
}
