@import "../../utils/colors.less";
@import "../../utils/utils.less";

@win-bar-bg-color : #454d5c;

@home-block-active-border-color: #ecebeb;
@home-block-border-color       : #6a6e75;
@home-block-hover-border-color : #fee6b3;
@home-btn-bg-color             : #586171;
@home-btn-color                : #ebe4d7;
@home-btn-hover-color          : #f8f6f4;
@home-btn-list-bg-color        : #e6e1d5;

.container {
  .flex-center-x-column();

  color   : @win-bar-bg-color;
  flex    : 1;
  overflow: hidden;
  z-index : 0;

  &::before {
    background: url("../../../assets/bg.jpg") fixed 0 / cover;
    bottom    : 0;
    content   : "";
    filter    : blur(8px) brightness(1.2);
    left      : 0;
    position  : absolute;
    right     : 0;
    top       : 0;
    transform : scale(1.1);
  }

  .user {
    .ani-show-top();
    .flex-center-y();

    height  : 180px;
    padding : 32px 40px 0;
    position: relative;
    width   : calc(100vw - 80px);
    z-index : 1;

    .user-card {
      .flex-center-y();

      height: 150px;
      width : 360px;

      .avatar {
        .flex-center();

        background-image : url("../../../assets/avatar-border-hover.png");
        background-repeat: no-repeat;
        background-size  : contain;
        height           : $width;
        transition       : all 0.1s ease-in-out;
        width            : 140px;

        .avatar-image {
          border-radius: 50px;
          height       : $width;
          width        : 100px;
        }

        &:active {
          transform: scale(0.8);
        }
      }

      .user-info {
        .flex-center-y-column();

        .info-item {
          .flex-center-y();

          flex       : 1;
          margin-left: 20px;
          width      : 100%;

          .nickname {
            background   : linear-gradient(to right, @color-accent, transparent);
            border-radius: 16px;
            color        : @color-white;
            display      : inline-block;
            flex         : 1;
            padding      : 4px 10px;
          }

          .level,
          .region,
          .uid {
            color  : @color-primary;
            display: inline-block;
            flex   : 1;
            padding: 4px 10px;

            &:active {
              color: @color-second;
            }
          }
        }
      }
    }

    .note-card {
      .flex-column-wrap();

      flex       : 1;
      height     : 120px;
      margin-left: 60px;

      .note-item {
        .flex-center-y();

        height: 30px;
        width : 50%;

        &:active {
          color: @color-second;
        }

        .note-icon {
          height      : 24px;
          margin-right: 4px;
          width       : $height;
        }

        .note-detail {
          .flex-center-y();
          height     : 26px;
          line-height: 26px;
          transition : all 0.1s ease-in-out;

          .dispatch-border {
            .flex-center();

            border       : 2px solid @color-white;
            border-radius: 15px;
            margin-right : 8px;
            overflow     : hidden;
            transition   : all 0.1s ease-in-out;

            .dispatch-avatar {
              height: 24px;
            }

            &:active {
              border-color: @color-second;
            }
          }

          .done {
            border-color: @color-accent;
          }
        }
      }
    }

    .top-btns {
      .flex-center-y();

      color   : @color-primary;
      margin  : 16px;
      position: absolute;
      right   : 0;
      top     : 0;

      .top-btn {
        .flex-center-y();
        .transition-quick();

        margin: 0 16px;

        &:active {
          color: @color-second;
        }

        span {
          margin-left: 4px;
        }
      }
    }

    .no-login-container {
      .flex-center-y();

      height         : 150px;
      justify-content: space-between;
      padding-right  : 60px;
      width          : calc(100vw - 40px);

      .no-login-text {
        .flex-center-y-column();

        font-size   : 28px;
        height      : 80%;
        line-height : 36px;
        padding-left: 32px;

        span {
          margin: 6px;
        }
      }
    }
  }

  .content {
    .flex-center-column();

    flex   : 1;
    z-index: 1;
    width  : 100vw;

    .btn-list {
      .flex-wrap();

      align-content: flex-start;
      flex         : 1;
      padding      : 0 32px;
      width        : calc(100vw - 64px);

      .title-zone {
        width  : 100%;
        display: flex;

        .title {
          .flex-center();

          color     : @color-white;
          font-size : 32px;
          padding   : 8px;
          text-align: center;
          width     : 100%;

          .arrow {
            background-repeat: no-repeat;
            background-size  : $width $height;
            content          : "";
            display          : inline-block;
            height           : $width;
            margin           : 0 20px;
            width            : 24px;
          }

          span::before {
            .ani-slide-left();
            .arrow();

            background-image: url("../../../assets/arrow-left.png");
          }

          span::after {
            .ani-slide-right();
            .arrow();

            background-image: url("../../../assets/arrow-right.png");
          }
        }

        .title-btns {
          .flex-center-y();

          flex           : 1;
          justify-content: flex-end;
          margin-right   : 8px;
        }
      }

      .ps {
        color  : @color-white;
        width  : 100%;
        padding: 0 8px 0px 8px;
      }

      .btn {
        .flex-center-column();
        .ani-show-bottom();

        width            : 100%;
        width            : calc((100% - 80px) / 4);
        height           : 105px;
        margin           : 8px;
        color            : @home-btn-color;
        border-radius    : 2px;
        overflow         : hidden;
        background-color : @home-btn-bg-color;
        background-image : url("../../../assets/btn-border.png");
        background-size  : contain;
        background-repeat: no-repeat;
        border           : 2px solid @home-block-border-color;
        transition       : all 0.3s ease-in-out;

        .btn-text {
          margin-top: 12px;
          font-size : 20px;
        }

        &:hover {
          // border-radius: 20px;
          color    : @home-btn-hover-color;
          transform: scale(1.08);
          // border: 2px solid @home-block-hover-border-color;
        }

        &:active {
          color           : @home-btn-bg-color;
          transform       : scale(1);
          background-color: @home-btn-hover-color;
          border          : 2px solid @home-block-active-border-color;
        }
      }
    }

    .footer {
      .flex-center-y();

      color    : @color-white;
      font-size: 12px;
      margin   : 12px 0;
    }
  }
}