@import "../../utils/colors.less";
@import "../../utils/util.less";

.container {
  .flex-center-x-column();

  z-index: 0;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    filter: blur(8px) brightness(1.2);
    transform: scale(1.1);
    background: url("../../../assets/bg.jpg") fixed 0 / cover;
    // background-position: 0 0;
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  flex: 1;
  color: @win-bar-bg-color;

  .user {
    .flex-center-y();

    height: 150px;
    width: calc(100vw - 80px);
    padding: 12px 40px 0;
    // background-color: @color-bg-deep;

    .user-card {
      .flex-center-y();

      height: 120px;
      width: 360px;
      // background-color: @btn-actiove-bg;
      // border: 1px solid @btn-active-border-color;
      // border-radius: 12px;

      .avatar {
        // .shadow();

        width: 90px;
        height: $width;
        border-radius: 50px;
      }

      .user-info {
        .flex-center-y-column();

        flex: 1;
        margin-left: 20px;

        .nickname {
          padding: 4px 10px;
          display: inline-block;
          color: @color-white;
          width: 170px;
          border-radius: 16px;
          background-color: @color-accent;
          background: linear-gradient(to right, @color-accent, transparent);
        }

        .level {
          display: inline-block;
          width: 170px;
          color: @text-color;
          padding: 4px 10px;
        }

        .uid {
          display: inline-block;
          width: 170px;
          color: @text-color;
          padding: 4px 10px;
        }
      }
    }

    .note-card {
      .flex-wrap();

      flex: 1;
      height: 90px;
      margin: 0 40px;
      // background-color: @color-bg-deep;

      .note-item {
        .flex-center-y();
        height: 30px;
        width: 50%;

        .note-icon {
          height: 24px;
          margin-right: 4px;
          width: $height;
        }

        .note-detail {
          height: 30px;
          line-height: 30px;
        }
      }
    }

    .no-login-container {
      .flex-center-y();
      height: 120px;
      width: calc(100vw - 40px);
      justify-content: space-between;
      padding-right: 60px;
      border-bottom: 2px solid @color-white;

      .no-login-text {
        font-size: 28px;
        padding-left: 32px;
        line-height: 36px;
      }
    }
  }

  .content {
    .flex-center-column();

    flex: 1;
    width: 100vw;

    .btn-list {
      .flex-wrap();
      align-content: flex-start;

      flex: 1;
      width: calc(100vw - 64px);
      padding: 0 32px;

      .title {
        width: 100%;
        font-size: 32px;
        padding: 8px;
      }

      .ps {
        color: @color-white;
        width: 100%;
        padding: 0 8px 0px 8px;
      }

      .btn {
        .flex-center-column();

        width: 100%;
        width: calc((100% - 80px) / 4);
        height: 110px;
        margin: 8px;
        color: @home-btn-color;
        border-radius: 1px;
        background-color: @home-btn-bg-color;
        border: 2px solid @home-block-border-color;
        transition: all 0.2s ease-in-out;

        .btn-text {
          margin-top: 12px;
          font-size: 20px;
        }

        &:hover {
          // border-radius: 20px;
          color: @home-btn-hover-color;
          transform: scale(1.1);
          border: 2px solid @home-block-hover-border-color;
        }

        &:active {
          color: @home-btn-bg-color;
          transform: scale(1);
          background-color: @home-btn-hover-color;
          border: 2px solid @home-block-active-border-color;
        }
      }
    }

    .footer {
      color: @color-white;
      margin-bottom: 12px;
    }
  }
}
