@import "../../../utils/colors.less";
@import "../../../utils/utils.less";

.user {
  .ani-show-left();

  margin: 0 20px;

  & > div:first-child {
    font-size: 24px;
  }

  & > div:nth-child(2) {
    color: @color-second;
  }
}

.spiral-abyss {
  .flex-column();

  flex: 1;
  overflow: hidden;

  .none {
    .ani-show-bottom();

    color: @color-second;
    line-height: 380px;
    text-align: center;
  }

  .row {
    .flex-center-y();

    justify-content: space-between;
    margin-bottom: 12px;

    .abyss-box {
      .ani-show-right();
      .flex-wrap();

      justify-self: flex-end;
      align-items: center;

      & > div {
        .flex-center-column();

        height: 48px;
        width: 120px;

        & > span {
          color: @color-second;
          font-size: 14px;
          margin-top: 4px;
        }

        .horizontal {
          .flex-center();

          font-family: arial;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .reveal-rank {
      .ani-show-left();

      margin: 0 20px;

      & > div:first-child {
        margin: 0px 0 8px 0;
      }

      & > div:nth-child(2) {
        & > img {
          width: 36px;
          margin: 0 4px;
        }
      }
    }

    .rank-box {
      .ani-show-right();
      .flex-wrap();

      justify-self: flex-end;
      align-items: center;

      & > div {
        .flex-center-column();

        height: 48px;
        width: 120px;

        & > div:first-child {
          .flex-center();

          & > img {
            width: 36px;
          }

          & > div {
            margin-top: 8px;
            margin-right: 10px;
          }
        }

        & > span {
          color: @color-second;
          font-size: 14px;
          margin-top: 4px;
        }
      }
    }
  }

  .detail {
    .ani-show-bottom();
    .flex-wrap();

    align-content: flex-start;
    height: 260px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    & > div {
      .flex-center-y();
      .shadow-shallow();
      .transition();

      background-color: @color-bg-accent;
      border: 1px solid rgba(100, 100, 100, 0.1);
      border-radius: 6px;
      justify-content: space-between;
      margin: 8px 12px;
      padding: 2px 20px 2px 4px;
      width: 260px;
      height: 60px;

      &:hover {
        transform: scale(1.05);
      }

      & > div:first-child {
        .flex-center();

        position: relative;
        height: 50px;
        width: 50px;

        & > img {
          position: absolute;
          width: 54px;
        }

        & > span {
          color: @color-primary;
          font-size: 18px;
          height: 20px;
          line-height: $height;
          text-align: center;
          width: $height;
          z-index: 10;
        }
      }
    }
  }

  .tip {
    .ani-show-bottom();

    bottom: 20px;
    color: @color-second;
    left: 36px;
    position: absolute;
  }
}
