@import "../../colors/default.less";

.frame {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: @color-bg;

  .top-bar {
    height: 42px;
    width: 100vw;
    padding: 2px;
    overflow: hidden;
    background-color: @win-bar-bg-color;

    &::before {
      content: "";
      -webkit-app-region: drag;
      position: fixed;
      display: inline-block;
      width: calc(100vw - 6px);
      height: 40px;
      border: 1px solid @win-bar-bg-line-color;
      background-color: transparent;
    }
  }

  .btns {
    -webkit-app-region: no-drag;
    position: absolute;
    display: flex;
    z-index: 10;
    top: 0px;
    right: 6px;
    margin: 8px;
  }
}
