@import "../../colors/default.less";

@size-small: 24px;
@size-middle: 36px;
@size-large: 54px;

.cbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background-color: @win-bar-text-focus-color;

  .cbtn-icon {
    color: @win-bar-bg-color;
    transition: all 0.2s ease-in-out;
    .cbtn:active & {
      color: @color-bg;
    }
  }

  &:hover {
    border-color: @color-bg;
  }

  &:active {
    background-color: @cbtn-actiove-bg;
    border-color: @cbtn-actiove-bg;
    background-color: @cbtn-actiove-bg;
  }
}

.cbtn-size {
  &-small {
    border-radius: calc((@size-small + 6px) / 2);
    border: 3px solid @cbtn-round-line;
    width: @size-small;
    height: @size-small;
  }

  &-middle {
    border-radius: calc((@size-middle + 8px) / 2);
    border: 4px solid @cbtn-round-line;
    width: @size-middle;
    height: @size-middle;
  }

  &-large {
    border-radius: calc((@size-large + 10px) / 2);
    border: 5px solid @cbtn-round-line;
    width: @size-large;
    height: @size-large;
  }
}
