@import '@/utils/colors.less';
@import '@/utils/utils.less';

@size-small: 24px;
@size-middle: 36px;
@size-large: 54px;

@win-bar-bg-color: #454d5c;

@cbtn-active-bg-color: #f5f4ee;
@cbtn-active-round-line: #e5e5e5;
@cbtn-bg-color: #ffffff;
@cbtn-hover-bg-color: #f9f6f2;
@cbtn-hover-round-line: #9f9f9f;
@cbtn-round-line: #454d5c;

.btn {
  .transition();
  .flex-center();

  background-color: @cbtn-bg-color;
  overflow: hidden;

  .icon {
    .transition();

    color: @win-bar-bg-color;
  }

  &:hover {
    background-color: @cbtn-hover-bg-color;
    border-color: @cbtn-hover-round-line;
  }

  &:active {
    background-color: @cbtn-active-bg-color;
    border-color: @cbtn-active-round-line;

    .icon {
      color: @color-second;
    }
  }
}

.small {
  border: 3px solid @cbtn-round-line;
  border-radius: calc((@size-small + 6px) / 2);
  height: @size-small;
  width: @size-small;
}

.middle {
  border: 3px solid @cbtn-round-line;
  border-radius: calc((@size-middle + 8px) / 2);
  height: @size-middle;
  width: @size-middle;
}

.large {
  border: 3px solid @cbtn-round-line;
  border-radius: calc((@size-large + 10px) / 2);
  height: @size-large;
  width: @size-large;
}
