@import "../../utils/colors.less";
@import "../../utils/util.less";

.desc {
  .flex-center-column();

  position: relative;
  flex: 1;
  font-size: 32px;
  color: @win-bar-bg-color;

  .back-btn {
    position: absolute;
    left: 20px;
    top: 20px;
  }
}
