@color-primary: #3b4354;
@color-white: #fdfdfb;
@color-accent: #ffa564;
@color-bg: #f9f6f2;
@color-bg-deep: #ebe7df;

@win-bar-text-focus-color: #ece5d8;
@win-bar-text-blur-color: #a9a7a6;
@win-bar-slide-line-color: #dd7860;
@win-bar-bg-color: #454d5c;
@win-bar-bg-line-color: #515a6a;

@cbtn-round-line: #878d8d;
@cbtn-actiove-bg: #9b947f;

@btn-actiove-bg: #ffecca;
@btn-hover-border-color: #ffdca0;
@btn-bg-color: #4a5366;
@btn-icon-blue: #38a2e4;
@btn-icon-yellow: #eabb32;
@btn-icon-bg-color: #313131;
@btn-icon-active-bg-color: #978159;
@btn-active-border-color: #b9b6b3;
@btn-text-color: #ece5d8;
@btn-text-active-color: #a1927d;

@link-color: #a7947e;
@link-bg-color: #f0ede8;
@link-hover-color: #bfa98f;
@link-active-color: #a7947e;

@text-color: #495366;
@text-color-second: #ababae;
@text-color-orange: #d09c65;

@alert-info-bg-color: #a7947e;
@alert-warning-bg-color: #d09c65;
@alert-success-bg-color: rgb(118, 155, 61);
@alert-faild-bg-color: #d17877;

@tag-bg-orange: #ede3ce;

@home-block-hover-border-color: #fee6b3;
@home-block-active-border-color: #ecebeb;
@home-block-border-color: #6a6e75;
@home-btn-list-bg-color: #e6e1d5;
@home-btn-color: #ebe4d7;
@home-btn-bg-color: #586171;
@home-btn-hover-color: #f8f6f4;
