.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-x {
  display: flex;
  justify-content: center;
}

.flex-center-y {
  display: flex;
  align-items: center;
}

.flex-center-column {
  .flex-center();
  flex-direction: column;
}

.flex-center-x-column {
  .flex-center-y();
  flex-direction: column;
}

.flex-center-y-column {
  .flex-center-x();
  flex-direction: column;
}

.shadow {
  box-shadow: 1px 1px 16px 1px rgb(255, 228, 199);
}

@keyframes show-bottom {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
  }
}

@keyframes show-top {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
  }
}

.ani-show-top {
  animation: show-top 0.6s cubic-bezier(0.18, 0.6, 0.27, 1);
}

.ani-show-bottom {
  animation: show-bottom 0.6s cubic-bezier(0.18, 0.6, 0.27, 1);
}
