@import '../../../utils/colors.less';
@import '../../../utils/utils.less';

.role-table {
  .ani-show-top();
  .flex();

  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
  padding: 20px;
  width: 890px;
}
