@import '@/utils/colors.less';
@import '@/utils/utils.less';

.container {
  .ani-show-right();
  .flex-center-x();

  flex: 1;
  position: relative;

  .signContainer {
    .flex-center-x-column();

    .title {
      .ani-show-top();

      font-size: 24px;
      line-height: 42px;
      margin-top: 20px;
    }

    .tip {
      .ani-show-top();

      color: @color-second;
    }

    .sign-table {
      .ani-show-right();
      .flex-wrap();

      align-content: flex-start;
      height: 432px;
      margin: 16px 0;
      width: 860px;

      .sign-item {
        .flex-column();
        .transition();

        background-image: url('../../../assets/sign-item-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid @color-second;
        border-radius: 4px;
        height: 100px;
        margin: 3px;
        width: 78px;

        &:hover {
          transform: scale(1.05);
        }

        img {
          width: 64px;
          margin: calc((78px - $width) / 2);
          height: $width;
        }

        div {
          text-align: center;
          line-height: calc(100px - 78px);
          font-size: 10px;
        }
      }

      .today {
        background-image: url('../../../assets/sign-item-bg-today.png');

        &:hover {
          transform: scale(1.1);
        }
      }

      .signed {
        &::before {
          background: no-repeat url('../../../assets/sign-item-signed.png');
          background-size: contain;
          content: '';
          height: 100px;
          position: absolute;
          width: 78px;
        }
      }
    }
  }

  .back-btn {
    left: 20px;
    position: absolute;
    top: 20px;
  }
}
