@import '../../utils/colors.less';
@import '../../utils/utils.less';

@win-bar-bg-color: #454d5c;
@win-bar-bg-line-color: #515a6a;
@win-bar-title-color: #ece5d8;

@size: 24px;

@wbtn-active-bg: #9b947f;
@wbtn-round-line: #878d8d;

.btn {
  .transition();
  .flex-center();

  background-color: @win-bar-title-color;
  overflow: hidden;

  .icon {
    .transition();

    color: @win-bar-bg-color;
  }

  &:hover {
    border-color: @color-bg;
  }

  &:active {
    background-color: @wbtn-active-bg;
    background-color: @wbtn-active-bg;
    border-color: @wbtn-active-bg;

    .icon {
      color: @color-bg;
    }
  }
}

.size {
  border-radius: calc((@size + 6px) / 2);
  border: 3px solid @wbtn-round-line;
  width: @size;
  height: @size;
}
